h1 {
    color: blueviolet;
    /* background-color: yellow; */
    border: 1px solid blueviolet;
}

p {
    /* color: red; */
    font-weight: 200;
    color: blueviolet;
    font-size: 200%;
}

.tareq {
    border-bottom: 2px solid purple;
    font-weight: bold;
    font-weight: 200%;
    font-size: 1.5em;
}